<mat-card>
    <mat-card-title>Ideal Investments</mat-card-title>
    <mat-radio-group [(ngModel)]="searchType">
        <mat-radio-button value="{{searchTypes.KEYWORD}}">Keyword Search</mat-radio-button>
        <mat-radio-button value="{{searchTypes.SEMANTIC}}">Vector Search</mat-radio-button>
        <mat-radio-button value="{{searchTypes.NATURAL}}">Natural Language Search</mat-radio-button>
    </mat-radio-group>
    <mat-form-field>
        <input matInput [(ngModel)]="investmentSearch" (keydown.enter)="findInvestments()"
            [placeholder]="searchType == searchTypes.KEYWORD ? KEYWORD_PLACEHOLDER : ( searchType == searchTypes.SEMANTIC ? SEMANTIC_PLACEHOLDER : NATURAL_PLACEHOLDER )">
            <!-- Loading spinner 
            @if (loading) {
                
                <mat-spinner matSuffix mode="indeterminate" style="margin:0 auto;" [diameter]="26"></mat-spinner> 
            }
            -->
        <mat-icon matTooltip="Sample suggestion" matSuffix fontSet="material-symbols-outlined"
                (click)="investmentSearch = getSuggestion()">
            prompt_suggestion
        </mat-icon>
    </mat-form-field>
    <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="investmentSearch.length === 0"
            (click)="findInvestments()">
            @if (loading && searchType == searchTypes.NATURAL) {
            <div class="inline-spinner">
                {{LOADING_BUTTON_TEXT}}
                <mat-spinner matSuffix mode="indeterminate" [diameter]="16"></mat-spinner>
            </div>
            } @else {
                {{BUTTON_TEXT}}
            }
        </button>
    </mat-card-actions>
    <app-investment-results [investments]="investments"></app-investment-results>
</mat-card>
